{% extends 'layout.html' %}
{% block body %}
<div>
	<p>以下の内容を確認し、宜しければ次へボタンを押して下さい。<br />ユーザー登録が完了します。</p>
</div>
<form id="user_registration_confirm" action="/user_registration/complete" method="post">
	<table id="user_form_table">
		<tr>
			<th id="user_form_midashi" colspan="2">
				ユーザー情報
			</th>
		</tr>
		<tr>
			<th>メールアドレス</th>
			<td>
				<input type="text" id="mail_address" name="mail_address" maxlength="128" size="35" value="{{ res['mail_address'] }}" disabled="disabled" />
			</td>
		</tr>
		<tr>
			<th>氏名</th>
			<td>
				(姓) <input type="text" id="last_name" name="last_name" maxlength="8" size="14" value="{{ res['last_name'] }}" disabled="disabled" />
				(名) <input type="text" id="first_name" name="first_name" maxlength="8" size="14" value="{{ res['first_name'] }}" disabled="disabled" />
			</td>
		</tr>
		<tr>
			<th>氏名（ふりがな）</th>
			<td>
				(姓) <input type="text" id="last_name_hiragana" name="last_name_hiragana" maxlength="16" size="14" value="{{ res['last_name_hiragana'] }}" disabled="disabled" />
				(名) <input type="text" id="first_name_hiragana" name="first_name_hiragana" maxlength="16" size="14" value="{{ res['first_name_hiragana'] }}" disabled="disabled" />
			</td>
		</tr>
		<tr>
			<th>性別</th>
			<td>
				{% for sex in res['sexes'] %}
				<input type="radio" name="sex_id" value="{{ sex.id }}" disabled="disabled" {% if sex.id == res['sex_id'] %} checked="checked" {% endif %}>{{ sex.name }}</input>
				{% endfor %}
			</td>
		</tr>
		<tr>
			<th>誕生日</th>
			<td>
				<select id="birth_year" name="birth_year" disabled="disabled">
					<option value="" {% if '' == res['birth_year'] %} selected="selected" {% endif %}>-</option>
					{% for birth_year in res['birth_years'] %}
					<option value="{{ birth_year }}" {% if birth_year == res['birth_year'] %} selected="selected" {% endif %}>{{ birth_year }}</option>
					{% endfor %}
				</select>
				年
				<select id="birth_month" name="birth_month" disabled="disabled">
					<option value="" {% if '' == res['birth_month'] %} selected="selected" {% endif %}>-</option>
					{% for birth_month in res['birth_months'] %}
					<option value="{{ birth_month }}" {% if birth_month == res['birth_month'] %} selected="selected" {% endif %}>{{ birth_month }}</option>
					{% endfor %}
				</select>
				月
				<select id="birth_day" name="birth_day" disabled="disabled">
					<option value="" {% if '' == res['birth_day'] %} selected="selected" {% endif %}>-</option>
					{% for birth_day in res['birth_days'] %}
					<option value="{{ birth_day }}" {% if birth_day == res['birth_day'] %} selected="selected" {% endif %}>{{ birth_day }}</option>
					{% endfor %}
				</select>
				日
			</td>
		</tr>
		<tr>
			<th>郵便番号</th>
			<td>
				<input type="text" id="zip_code" name="zip_code" maxlength="8" size="14" value="{{ res['zip_code'] }}" disabled="disabled" />
			</td>
		</tr>
		<tr>
			<th>都道府県</th>
			<td>
				<select id="prefecture_id" name="prefecture_id" disabled="disabled">
					<option value="" {% if '' == res['prefecture_id'] %} selected="selected" {% endif %}>▼選択してください</option>
					{% for prefecture in res['prefectures'] %}
					<option value="{{ prefecture.id }}" {% if prefecture.id == res['prefecture_id'] %} selected="selected" {% endif %}>{{ prefecture.name }}</option>
					{% endfor %}
				</select>
			</td>
		</tr>
		<tr>
			<th>市区町村・丁目・番地</th>
			<td>
				<input type="text" id="city_street_address" name="city_street_address" value="{{ res['city_street_address'] }}" maxlength="64" size="70" disabled="disabled" />
			</td>
		</tr>
		<tr>
			<th>建物名・室名</th>
			<td>
				<input type="text" id="building_room_address" name="building_room_address" value="{{ res['building_room_address'] }}" maxlength="64" size="70" disabled="disabled" />
			</td>
		</tr>
		<tr>
			<th>電話番号</th>
			<td>
				<input type="text" id="telephone_number" name="telephone_number" maxlength="13" size="27" value="{{ res['telephone_number'] }}" disabled="disabled" />
			</td>
		</tr>
		<tr>
			<th>職業</th>
			<td>
				{% for job in res['jobs'] %}
				<input type="radio" name="job_id" value="{{ job.id }}" disabled="disabled" {% if job.id == res['job_id'] %} checked="checked" {% endif %}>{{ job.name }}</input>
				{% endfor %}
			</td>
		</tr>
		<tr>
			<th>職業その他</th>
			<td>
				<input type="text" id="job_other" name="job_other" value="{{ res['job_other'] }}" maxlength="16" size="20" disabled="disabled" />
			</td>
		</tr>
		<tr>
			<th>連絡方法（複数選択可能）</th>
			<td>
				<select id="contact_method" name="contact_method" multiple disabled="disabled">
					{% for contact_method in res['contact_methods'] %}
					<option value="{{ contact_method.id }}" {% if contact_method.id in res['user_contact_methods_collection'] %} selected="selected" {% endif %}>{{ contact_method.name }}</option>
					{% endfor %}
				</select>
			</td>
		</tr>
		<tr>
			<th>知ったきっかけ（複数選択可能）</th>
			<td>
				{% for knew_trigger in res['knew_triggers'] %}
				<input type="checkbox" name="knew_trigger" value="{{ knew_trigger.id }}" disabled="disabled" {% if knew_trigger.id in res['user_knew_triggers_collection'] %} checked="checked" {% endif %}>{{ knew_trigger.name }}</input>
				{% endfor %}
			</td>
		</tr>
		<tr>
			<th>最新情報の希望状況</th>
			<td>
				<input type="radio" name="is_latest_news_hoped" value="1" disabled="disabled" {% if 1 == res['is_latest_news_hoped'] %} checked="checked" {% endif %}>希望する</input>
				<input type="radio" name="is_latest_news_hoped" value="0" disabled="disabled" {% if 0 == res['is_latest_news_hoped'] %} checked="checked" {% endif %}>希望しない</input>
			</td>
		</tr>
		<tr>
			<th>添付ファイル</th>
			<td>
				<input type="text" name="file_name" maxlength="64" size="70" value="{{ res['file_name'] }}" disabled="disabled" />
			</td>
		</tr>
		<tr>
			<th>備考</th>
			<td>
				<textarea name="remarks" maxlength="1000" rows="10" cols="70" disabled="disabled">{{ res['remarks'] }}</textarea>
			</td>
		</tr>
		<tr>
			<th>個人情報提供の同意状況</th>
			<td>
				<input type="checkbox" name="is_personal_information_provide_agreed" value="1" disabled="disabled" {% if 1 == res['is_personal_information_provide_agreed'] %} checked="checked" {% endif %}>同意する</input>
			</td>
		</tr>
	</table>
	<div id="submit">
		<p>
		<button type="submit" id="next_page" name="clicked_button" value="next_page" />次へ</button>
		<button type="submit" id="previous_page" name="clicked_button" value="previous_page" />戻る</button>
		</p>
	</div>
	<input type="hidden" id="token" name="token" value="{{ res['token'] }}" />
</form>
{% endblock %}
