{% extends 'layout.html' %}
{% block body %}
<form id="user_registration_input" action="/user_registration/confirm" method="post" enctype="multipart/form-data">
	<table id="user_form_table">
		<tr>
			<th id="user_form_midashi" colspan="2">
				ユーザー情報
			</th>
		</tr>
		<tr>
			<th>メールアドレス</th>
			<td>
				<input type="text" id="mail_address" name="mail_address" maxlength="128" size="35" value="{{ res['mail_address'] }}" disabled="disabled" />
			</td>
		</tr>
		<tr>
			<th>パスワード</th>
			<td>
				<input type="password" id="password" name="password" maxlength="256" size="20" value="{{ res['password'] }}" onfocus="setBackGroundColor(this, '#d0ffd0');" onblur="setBackGroundColor(this, '#ffffff');" /> &lt;8文字以上半角英数字&gt;
				<br />
				<p class="error_message">{{ res['password_error'] }}</p>
			</td>
		</tr>
		<tr>
			<th>氏名</th>
			<td>
				(姓) <input type="text" id="last_name" name="last_name" maxlength="8" size="14" value="{{ res['last_name'] }}" onfocus="setBackGroundColor(this, '#d0ffd0');" onblur="setBackGroundColor(this, '#ffffff');" />
				(名) <input type="text" id="first_name" name="first_name" maxlength="8" size="14" value="{{ res['first_name'] }}" onfocus="setBackGroundColor(this, '#d0ffd0');" onblur="setBackGroundColor(this, '#ffffff');" />
				<br />
				<p class="error_message">{{ res['last_name_error'] }}</p>
				<p class="error_message">{{ res['first_name_error'] }}</p>
			</td>
		</tr>
		<tr>
			<th>氏名（ふりがな）</th>
			<td>
				(姓) <input type="text" id="last_name_hiragana" name="last_name_hiragana" maxlength="16" size="14" value="{{ res['last_name_hiragana'] }}" onfocus="setBackGroundColor(this, '#d0ffd0');" onblur="setBackGroundColor(this, '#ffffff');" />
				(名) <input type="text" id="first_name_hiragana" name="first_name_hiragana" maxlength="16" size="14" value="{{ res['first_name_hiragana'] }}" onfocus="setBackGroundColor(this, '#d0ffd0');" onblur="setBackGroundColor(this, '#ffffff');" />
				<br />
				<p class="error_message">{{ res['last_name_hiragana_error'] }}</p>
				<p class="error_message">{{ res['first_name_hiragana_error'] }}</p>
			</td>
		</tr>
		<tr>
			<th>性別</th>
			<td>
				{% for sex in res['sexes'] %}
				<input type="radio" name="sex_id" value="{{ sex.id }}" {{ sex.id }}>{{ sex.name }}</input>
				{% endfor %}
				<br />
				<p class="error_message">{{ res['sex_id_error'] }}</p>
			</td>
		</tr>
		<tr>
			<th>誕生日</th>
			<td>
				<select id="birth_year" name="birth_year" onfocus="setBackGroundColor(this, '#d0ffd0');" onblur="setBackGroundColor(this, '#ffffff');">
					<option value="" {{ res['birth_year'] }}>-</option>
					{% for birth_year in res['birth_years'] %}
					<option value="{{ birth_year.value }}" {{ birth_year.value }}>{{ birth_year.name }}</option>
					{% endfor %}
				</select>
				年
				<select id="birth_month" name="birth_month" onfocus="setBackGroundColor(this, '#d0ffd0');" onblur="setBackGroundColor(this, '#ffffff');">
					<option value="" {{ res['birth_month'] }}>-</option>
					{% for birth_month in res['birth_months'] %}
					<option value="{{ birth_month.value }}" {{ birth_month.value }}>{{ birth_month.name }}</option>
					{% endfor %}
				</select>
				月
				<select id="birth_day" name="birth_day" onfocus="setBackGroundColor(this, '#d0ffd0');" onblur="setBackGroundColor(this, '#ffffff');">
					<option value="" {{ res['birth_day'] }}>-</option>
					{% for birth_day in res['birth_days'] %}
					<option value="{{ birth_day.value }}" {{ birth_day.value }}>{{ birth_day.name }}</option>
					{% endfor %}
				</select>
				日
				<br />
				<p class="error_message">{{ res['birth_year_error'] }}</p>
				<p class="error_message">{{ res['birth_month_error'] }}</p>
				<p class="error_message">{{ res['birth_day_error'] }}</p>
				<p class="error_message">{{ res['birth_day_full_error'] }}</p>
			</td>
		</tr>
		<tr>
			<th>郵便番号</th>
			<td>
				<input type="text" id="zip_code" name="zip_code" maxlength="8" size="14" value="{{ res['zip_code'] }}" onfocus="setBackGroundColor(this, '#d0ffd0');" onblur="setBackGroundColor(this, '#ffffff');" /> &lt;要ハイフン&gt;
				<br />
				<button type="submit" id="street_address_search" name="clicked_button" value="street_address_search" />住所検索</button>
				<br />
				<p class="error_message">{{ res['zip_code_error'] }}</p>
			</td>
		</tr>
	</table>
	<div id="submit">
		<p><button type="submit" id="next_page" name="clicked_button" value="next_page" />次へ</button></p>
	</div>
</form>
{% from 'on_load.html' import set_focus %}
{{ set_focus('password') }}
{% endblock %}
