/* 優先度中：デザインは配色を中心に現在グチャグチャ */
@charset "utf-8";

/***********************************************/
/* 共通 */
/***********************************************/

body {
  background-color: #efffff;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "ＭＳ Ｐ明朝", Arial, Helvetica, sans-serif;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

#layout {
  width: 804px;
  margin-left: auto;
  margin-right: auto;
}

/***********************************************/
/* Header */
/***********************************************/

/***********************************************/
/* Body */
/***********************************************/

#user_registration_first_input {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.error_message {
  color: #ff0000;
}

.center_justification {
  text-align: center;
}

#user_form_table {
  width: 800px;
  border-collapse: collapse;
  margin-top: 30px;
}

#user_form_table th {
  width: 250px;
  border: 1px solid #ff8fbf;
}

#user_form_table td {
  width: 550px;
  border: 1px solid #ff8fbf;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}

#user_form_table #user_form_midashi {
  font-size: 20px;
}

/* 優先度中：ime-modeはChromeでは使えない模様 */
/* メールアドレス */
#mail_address,
/* 郵便番号 */
#zip_code,
/* 電話番号 */
#telephone_number {
  ime-mode: disabled;
}

/* 姓 */
#last_name,
/* 名 */
#first_name,
/* 姓（ふりがな） */
#last_name_hiragana,
/* 名（ふりがな） */
#first_name_hiragana,
/* 市区町村・丁目・番地 */
#city_street_address,
/* 建物名・室名 */
#building_room_address,
/* 職業その他 */
#job_other,
/* 備考 */
#remarks {
  ime-mode: active;
}

#submit {
  width: 126px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

/***********************************************/
/* Footer */
/***********************************************/
